# ignore data files
# /Data
# /associationMiningTraditional
/output
/Notes
/HPCscripts
# /UnderstandScripts
# /profile_results

*~
/other
.fuse_hidden*
misc/computation/thirdparty/mtimesx_20110223/mtimesx.mexa64
